a {
  color: #8b4513;
}

h4, h3, h2, h1, p, li {
  color: #8b4513;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* Google Maps API */

#map-canvas {
  margin: 10px 10px 0 0;
  padding: 10px 10px 0 0;
  width: 600px;
  height: 500px;
}

/* Kontakt */

.kontakt {
  font-weight: bold;
  color: black;
}

/* IMAGE THUMBNAIL Osiągnięcia */

.image-wrapper {
  width: auto;
  height: 350px;
  overflow: hidden;
  text-align: center;
}

.image-wrapper img {
  margin: 0%;
  height: 50%;
  width: auto;
  -webkit-transition: margin 0.3s, height 0.3s;
  -moz-transition: margin 0.3s, height 0.3s;
  -o-transition: margin 0.3s, height 0.3s;
  transition: margin 0.3s, height 0.3s;
}

.image-wrapper img:hover {
  margin: 0;
  overflow: hidden;
  height: 100%;
  -webkit-transition: margin 0.3s, height 0.3s;
  -moz-transition: margin 0.3s, height 0.3s;
  -o-transition: margin 0.3s, height 0.3s;
  transition: margin 0.3s, height 0.3s;
}

/* Oferta */

.image-oferta {
  width: auto;
  height: 250px;
  overflow: hidden;
  text-align: center;
}

.image-oferta img {
  width: auto;
  height: 230px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: margin 0.3s, height 0.3s;
  -moz-transition: margin 0.3s, height 0.3s;
  -o-transition: margin 0.3s, height 0.3s;
  transition: margin 0.3s, height 0.3s;
}

.image-oferta-przekroj {
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.image-oferta-przekroj img {
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  -webkit-transition: margin 0.3s, height 0.3s;
  -moz-transition: margin 0.3s, height 0.3s;
  -o-transition: margin 0.3s, height 0.3s;
  transition: margin 0.3s, height 0.3s;
}


/* Oferta scrol */

.col-md-9 {
  overflow: auto;
  overflow-x: hidden;
  height: 500px;
}
/*
::-webkit-scrollbar {
  display: none;
}
*/
